.heels-wrapper {
    width: 100%;
}

.heels-wrapper h1 {
    color: #D3BBFA;
    text-align: left;
    padding: 0 20px;
}

.heels-wrapper .featured-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    padding: 50px 20px;
    
}

.heels-wrapper .featured-products .featured-item img {
    height: 300px;
    width: 100%;
    
}

.heels-wrapper .featured-products .featured-item:hover img {
   filter: opacity(0.7);
    cursor: pointer;
    
}

.heels-wrapper .featured-products .featured-item h4 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    margin: 0;
}

.heels-wrapper .featured-products .featured-item p {
    text-align: left;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}


/* Tablets */
@media screen and (max-width: 768px) {
    
    .heels-wrapper .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Phones */
@media screen and (max-width: 414px) {
    .heels-wrapper .featured-products {
        grid-template-columns: 1fr;
        
    }

    .heels-wrapper .featured-products .featured-item {
        padding: 30px 0;
        -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.15);
box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.15);
    }

}