body {
    font-family: 'Acme', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #27202C;
}

.container {
    max-width: 1045px;
    margin: 0 auto;
    overflow: hidden;
}

.header-wrapper {
    display: inline-block;
    background: #D3BBFA;
    width: 100%;
    height: 55px;
    text-align: center;
}

.header-wrapper .header {
    padding: 15px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    
}

.header-wrapper  .mobile-nav {
    display: none;
}

.header-wrapper .header a {
    text-decoration: none;
    color: #27202C; 
    transition: .5s;
}

.header-wrapper .header a:hover {
    color: white;
    
}

.header-wrapper .header-left {
    display: inline-block;
    width: 33%;
}

.header-wrapper .header-right {
    display: inline-block;
    width: 66%;
}

.header-wrapper .header-right a {
    padding-right: 10px;
}

.header-wrapper .header img {
    padding: 50px;
}

.header-wrapper .header nav {
    padding: 30px;
}

.header-wrapper .header nav a {
    padding: 0 25px;
    color: #D3BBFA;
    font-weight: 600;
    font-size: 18px;
    transition: .5s;
}

.header-wrapper .header nav a:hover {
    color: #27202C!important;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }


.featured-wrapper {
    width: 100%;
}

.featured-wrapper h1 {
    color: #D3BBFA;
    text-align: left;
}

.featured-wrapper .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 0;
}

.featured-wrapper .featured-products .featured-item img {
    height: 450px;
    width: 100%;
    
}

.featured-wrapper .featured-products .featured-item:hover img {
   filter: opacity(0.7);
    cursor: pointer;
    
}

.featured-wrapper .featured-products .featured-item p {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0
}

footer {
    background: #D3BBFA;
}

footer .footer-wrapper {
    padding: 20px 0;
    font-size: 15px;
    text-align: left;
}

footer .footer-wrapper .footer-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .footer-wrapper .footer-item h4 {
    font-weight: 700;
}

footer .footer-wrapper .footer-item .social-media i {
    color: white;
    font-size: 25px;
}

footer .footer-wrapper .footer-item .social-media i:hover {
    filter: opacity(0.5);
}

footer .footer-wrapper .footer-item .links a {
    display: block;
    text-decoration: none;
    color: #27202C;
    padding: 10px 0;
}

footer .footer-wrapper .footer-bottom {
    text-align: center;
}

footer .footer-wrapper .footer-bottom p {
    padding: 20px 0;
}

footer .footer-wrapper .footer-item .contact {
   text-align: left;
}


footer .footer-wrapper .footer-item .contact input {
    display: block;
    padding: 8px;
}

footer .footer-wrapper .footer-item .contact .btn {
    display: inline;
    margin: 20px;
}

footer .footer-wrapper .footer-item .contact .btn button {
    background: #27202C;
    color: white;
    border: none;
    padding: 10px;
    display: block;
}

footer .footer-wrapper .footer-item .contact .btn button:hover {
    filter: opacity(0.9);
}

footer .footer-wrapper .footer-bottom ul {
    list-style: none;
}

footer .footer-wrapper .footer-bottom ul li {
    display: inline;
}

footer .footer-wrapper .footer-bottom ul li img {
    width: 35px;
    height: 20px;
}

 /* Tablets */
 @media screen and (max-width: 768px) {
    footer .footer-wrapper {
        text-align: center;
    }

    .featured-wrapper .featured-products {
        grid-template-columns: 1fr 1fr;
    }
  }

  /* Phones */
@media screen and (max-width: 414px) {
    .header-wrapper {
        height: 115px;
    }

    .header-wrapper .header {
        padding: 0px;
    }

    .header-wrapper .header-left {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .header-wrapper .header-right {
        display: none;
        
    }

    .header-wrapper .header .mobile-nav {
        display: block;
        font-size: 20px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .header-wrapper .header .mobile-nav  .nav-btn {
        float: left;
        padding: 0 0 0 10px;
        z-index: 10;
    }

    .header-wrapper .header .mobile-nav .cart-btn {
        float: right;
        padding: 0 10px 10px 0;
    }

    .header-wrapper .header .mobile-nav .mobile-menu {
        background-color: #D3BBFA;
        padding: 5px 0;
        transition: all .4s ease-in-out;
        margin-top: 30px;
        position: absolute;
        display: none;
        width: 100%;
        z-index: 10;
    }

    .header-wrapper .header .mobile-nav .mobile-menu.active {
        transform: translate3d(0,0,0);
        margin-top: 20px;
        display: block;
    }

    .header-wrapper .header img {
        width: 100%;
        padding: 0!important;
    }

    .featured-wrapper .featured-products {
        grid-template-columns: 1fr;
        padding: 20px 0;
    }

    .header-wrapper .header nav {
        display: none;
    }

    .header-wrapper .header ul {
        list-style: none;
        text-align: left;
        padding: 10px 0 0;
    }

    .header-wrapper .header ul li {
        border-top:solid 1px #27202C;
        padding: 10px;
    }

    .header-wrapper .header ul input {
        width: 90%;
        height: 30px;
        padding: 0;
    }

    .header-wrapper .header img {
        width: 100%;
        padding: 50px 0 0;
    }

    .slideshow-container {
        padding: 10px;
    }

    footer .footer-wrapper .footer-item {
        grid-template-columns: 1fr;
    }

    footer .footer-wrapper .footer-item .contact {
        text-align: center;
    }

    footer .footer-wrapper .footer-item .contact input {
        display: inline-block;
    }

    footer .footer-wrapper .footer-item .contact .btn {
        display: inline-block;
        margin: -3px;
    }

    footer .footer-wrapper .footer-item h4 {
        padding-top: 25px;
    }
}